body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.navbar {
  margin-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'ubuntu', sans-serif;
  font-weight: 500;
}

.nav-item {
  padding: 0 1.2rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

#title {
  background-color: #ff4c68;
  text-align: left;
}

.big-heading {
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 12%;
}

.btn-download {
  margin: 5% 3% 5% 0;
}

.iphone-container {
  position: relative;
}

.title-image {
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  width: 60%;
}

#features {
  background-color: white;
  padding: 5% 15%;
  position: relative;
  z-index: 1;
}

.features-icon {
  color: #ef8172;
  font-size: 3.5rem;
  padding-top: 5rem;
  transition: .2s;
}

.features-icon:hover {
  color: #ff4c88;
}

.features-title {
  font-size: 1.5rem;
}

.features-text {
  color: #8f8f8f;
  margin: 0 auto;
  width: 85%;
}

#testimonials {
  background-color: #ef8172;
  color: white;
  
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 1.4rem;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;

}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 1.4rem 1.4rem;
  width: 15%;
}

#btn-slide {
  position: relative;
  top: -50%;
}

#pricing {
  padding: 5% 10%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card {
  margin-top: 1.5rem;
}

#cta {
  background-color: #ff4c68;
  padding: 7% 17%;
}

.footer-icons {
  padding: 5rem 0 2rem;
}

.footer-link {
  color: black;
  margin: .6rem;
}

@media screen and (max-width: 535px) {
  .big-heading {
    font-size: 2rem;
  }

  .testimonial-text, .section-heading, .price-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  .footer-link {
    font-size: 2rem;
  }
}