{% include "header.html" %}

  <main>
    <section class="hero container-fluid pt-5 pb-5">
      <div class="d-flex flex-row justify-content-around align-items-center flex-wrap">
        <div class="hero-text">
          <h1 class="h1 fw-bold">Web Designer & Frontend Developer</h1>
          <p>I design and code beautifully simple things, and I love what I do.</p>
        </div>
        <img class="img-fluid" src="../static/img/programming.svg" alt="Man programming" width="500">
      </div>
    </section>

    <section class="about-me container-fluid pt-5 pb-5 text-center">
      <div class="p-3">
        <h2 class="h2 fw-bold">Hi, I'm Eugênio Carvalho, Nice to meet You!</h2>

        <p>I'm computer science that love developer and help people around the world, I write code since 2014, I don't
          see myself doing anything other than coding.
        </p>
      </div>
      <img class="img-fluid" src="../static/img/code_review.svg" alt="Code review" width="500">
    </section>
  </main>

{% include "footer.html" %}